@import "../../static/styleGuide.scss";

.reader_zone_container {
  position: absolute;
  width: $readerZoneWidth;
  height: 100%;
  background-color: #070d59;

  img {
    position: absolute;
    width: 208px;
    height: 37px;
    left: 53px;
    top: 70px;
  }
}
